body{
    display: flex;
    flex-direction: column;
    
}
.content{
    align-self: center;
}
.header{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    width: 1000px;
    border-bottom: 1px solid black;
    &_title{
        width: 400px;
    }
    &_username{
        margin-left: 433px;
        margin-top: 44px;
        font-size: 30px;
    }
}
table, th, td{
    border: 1px solid black;
    width: 1000px;
}
table{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-collapse: collapse;
    max-height: 500px;
    overflow: auto;
}
.check{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    margin: 10px;
    &_checkbox{
        display: flex;
        flex-grow: 1;
        margin-left: 90px;
    }
}
.grouping{
    margin: 10px;
    margin-left: 11px;
}